*{
     box-sizing:border-box;
}
 body{
     background-color:black;
     padding:10px;
}
 img{
     width:1200px;
     max-width:100%;
     margin:auto;
     display:block;
     border-radius:10px;
     padding-bottom:5px;
}
 .alan-div{
     background-color:#E5E4E2;
     text-align:center;
     margin-top:0px;
     padding:25px;
     padding-bottom:5px;
     border-radius:10px;
}
 p[id="tribute-info"]{
     color:white;
     text-align:center;
     font-family:Arial;
     font-size:30px;
     padding-top:35px;
     padding-bottom:35px;
     margin-top:30bpx;
     border-style:solid;
     border-radius:10px;
}
 .description{
     margin-top:5px;
     font-style:italic;
     font-family:Tahoma;
     font-size:25px;
}
 a[id="tribute-link"]{
     text-align:center;
     font-size:25px;
     color:white;
     margin-top:50px;
}
 .a-div{
     text-align:center;
     padding-bottom:25px;
}
 figcaption{
     padding-top:5px;
     margin-bottom:0px;
}
 h1{
     margin:auto;
     font-size:35px;
     font-family:Tahoma;
     padding-top:0px;
}
 .life{
     margin:auto;
     color:white;
     background-color:#303030;
     border-radius:10px;
     max-width:100%;
     font-family:Verdana;
     font-size:25px;
     margin-top:30px;
     padding-top:4px;
     padding-left:20px;
     padding-right:20px;
}
 ul{
     display:flex;
     flex-direction:column;
     gap:20px;
}
 figcaption{
     font-family:Verdana;
     font-size:25px;
     padding-top:20px;
     padding-bottom:20px;
}
 .quote{
     color:white;
     font-family:Tahoma;
     font-style:italic;
     font-size:23px;
     text-align:center;
     padding-left:20px;
     padding-right:20px;
}
 